body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 55px;
}  
.orange{
    color: rgb(233, 124, 85);
} 
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left:6%;
}
.half-width img{
    width:90%;
}
.link-button {
text-decoration: none;
background-image: linear-gradient(orange, red);
padding: 10px 40px;
color:aliceblue;
font-size: 700;
border-radius: 5px;
}