body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 55px;
}  
.orange{
    color: rgb(233, 124, 85);
} 
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left:10%
}
.half-width img{
    width:90%;
}
